
<p>Id : <%= @component.id %></p>
<p>Component Type: <%= @component.component_type %></p>


<%# Fetch component data %>
<p>
   <%# <%= @component_data.Fecha_Cambio %> %>
   <br>
   <%# <%= @component_data.Descripcion_Cambio %> %>
</p>
