
<div>
    <ul>
        <li><%= link_to "Proyectos", proyectos_path %></li>
        <li><%= link_to "Clientes", clientes_path %></li>
        <li><%= link_to "Calculos", calculos_path %></li>
    </ul>
</div>
